.drawer__logo {
  width: auto;
  height: 32px;
}

.home__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.drawer--small {
  width: 6rem;
}

main {
  padding: 0 1rem;
}
header {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-200);
}

.header__text > h1 {
  font-size: var(--heading-2);
}
.one-column {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
label > input {
  height: 40px;
  padding: 0 0.5rem;
}

.form {
  padding: 1rem 0;
  max-width: 670px;
}

@media (max-width: 1060px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .drawer {
    display: none;
  }
  .hambur-menu--mobile {
    display: block;
  }
  .home__container {
    grid-template-columns: auto;
  }

  .button > img {
    width: 1.5rem;
  }
}

.drawer--visible {
  position: fixed;
  display: block;
  width: fit-content;
  top: 0;
  left: 0;
  height: 100%;
}
.no-visible {
  visibility: hidden;
}
